<!DOCTYPE html>
<script type="text/javascript">
    function pathToAction() {
            var pathToAction = '@Url.Content("~")';

            if (pathToAction == "/")
                pathToAction = "";
            else
                pathToAction = pathToAction.substring(0, pathToAction.length - 1);

            return pathToAction;
    }

    function buscar() {
        if ($("#buscar").val() != "") {
            location.href = pathToAction() + '/Home/Buscar?nombre=' + $("#buscar").val();
        }
    }
</script>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Películas</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-color:black">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               @Html.ActionLink("Películas", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse row">
                <div class="col-md-6">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Mejor calificación", "MejorCalificadas", "Home")</li>
                        <li>@Html.ActionLink("Más populares", "Populares", "Home")</li>
                    </ul>
                </div>
                <div class="col-md-5" align="right" style="padding:10px;">
                    @Html.TextBox("buscar", "", new { @class = "form-control", @style = "display: inline;" })<a href="javascript:buscar()"><i class="fas fa-search" style="color: white; padding-left:5px;"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content" id="principal">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Películas</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
